<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT NEWS</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"  href="stlye.css">
</head>
<body id="app">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue@3"></script>
        <header class ="bg-black/80 flex md:flex-row flex-col w-full md:justify-between justify-center  items-center text-white">
            <h1 class ="font_keania  text-[64px] md:ml-20 ">
                Add Admin
            </h1>
        </header>
        <div class =" w-[800px] h-[600px] mx-auto bg-[#DBDFE7] border-1 border-black   drop-shadow-lg  font_prompt text-[18px] font-semibold mt-8 " >
        <div class="mx-auto pt-20 pl-12">
                <div class = " pt-8">
                    name : <input v-model="firstname" type="text">
                    lastname : <input v-model="lastname" type="text">
                </div>
                <div class = " pt-8">
                        ID user : <input v-model="id" type="text">
                        password : <input v-model="password" type="password">
                </div>
                <div  class = " pt-8 ">
                        Email : <input v-model="email" type="email">
                        
                </div>
                <button @click="add()" class="  pl-2 pr-2 mt-10 mx-[350px] bg-[#5D5F64] rounded-[5px] text-white">submit</button>
    </div>
    </div>
    <script>
        Vue.createApp({
          data() {
            return {
              firstname: '',
              lastname: '',
              id: '',
              password: '',
              email: ''
            }
          },
          methods: {
            add() {
              axios.post("http://localhost:5000/api/member", {
                firstname: this.firstname,
                lastname: this.lastname,
                IDuser: this.id,
                password: this.password,
                E_mail: this.email
              }).then((result) => {
                alert("ADD Success");
              }).catch((err) => {
                alert("Error");
              });
            }
          }
        }).mount('#app')
      </script>

        
</body>
</html>