<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT NEWs</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"  href="stlye.css">
    <style>
        .heigthImg {
            height: 220px !important;
        }
    </style>
</head>
<body id="app">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
        <header class ="bg-black/80 flex md:flex-row flex-col w-full md:justify-between justify-center  items-center text-white">
            <h1 class ="font_keania  text-[64px] md:ml-20 ">
                Add Post
            </h1>
        </header>
        <div class =" w-[800px] min-h-[600px] mx-auto bg-[#DBDFE7] border-1 border-black   drop-shadow-lg  font_prompt text-[20px] font-semibold mt-8" >
            <div class="mx-auto pt-20 pl-12">
                <div class = " pt-8">
                    head :
                    <br>
                    <textarea v-model="head" type="text" class="p-4 w-10/12">
                    </textarea>
                </div>
                <div class = " pt-8">
                    content  : 
                    <br>
                    <textarea v-model="content" type="text" class="p-4 w-10/12">
                    </textarea>
                </div>
                <div class = " pt-8">
                    <img :src="image" alt="" :class="{'heigthImg': image}">
                    image : <input type="file" class="mt-4" @change="onSelectImg($event.target)" >
                </div>
                <button @click="add()" class="w-10/12 px-2.5 py-1.5 mt-6 bg-indigo-600 text-white rounded-xl">ADD</button>
            </div>
        </div>


</body>
</html>


<script>

    Vue.createApp({
        data() {
            return {
                head: '',
                content: '',
                image: ''
            }
        },
        methods: {
            onSelectImg(input) {
                if (input.files && input.files.length > 0) {
                    let file = input.files[0];
                    if (file.type.indexOf('image/') >= 0) {
                        const reader = new FileReader();
                        reader.readAsDataURL(file);
                        reader.addEventListener('load', () => {
                            this.image = reader.result;
                        });
                        return;
                    }
                }
                alert('กรุณาเลือกภาพที่จะอัพโหลด');
            },   
            add() {
                axios.post("http://env-8746534.app.ruk-com.cloud/api/post", {
                    head: this.head,
                    content: this.content,
                    image: this.image
                }).then(res => {
                    alert("ADD Success");
                    window.location.href="./index.html";
                }).catch(() => {
                    alert("Error")
                });
            }
        }

    }).mount('#app')

</script>